<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to My TodoList!
  </h1>
</div>
<div class=constainer>
  <div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-responsive">
        <caption>The TodoList</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
            <th scope="col">Finnish Todo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of data.value">
            <th scope="row">{{list.position}}</th>
            <td>{{list.status}}</td>
            <td (click)="getTodo(list, $event)">{{list.title}}</td>
            <td><input type="checkbox" aria-label="Checkbox for closing todo" [checked]="list.status === 'Closed'" (change)="changeStatus(list.position,$event)"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
      <div class="row justify-content-center">
        <div class="col-auto">
          <button type="button" class="btn btn-danger" (click)="closeDescription()" [hidden]="closeButtonHidden">X</button>
        </div>
        <div class="col-auto">
          <button #AddButton type="button" class="btn btn-primary" (click)="addTodo()" [hidden]=true>Add Todo</button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div #DetailTodo>
      </div>
    </div>
  </div>
</div>

<div class="container">

</div>
<router-outlet></router-outlet>
