<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to My TodoList!
  </h1>
</div>
<div class=constainer>
  <div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-responsive">
        <caption>The TodoList</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Title</th>
            <th scope="col">Finnish Todo</th>
            <th scope="col">Delete Todo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of data.multipleValues">
            <th scope="row">{{list.position}}</th>
            <td>{{list.status}}</td>
            <td (click)="getDescription(list, $event)" class="description">{{list.title}}</td>
            <td><input type="checkbox" aria-label="Checkbox for closing todo" [checked]="list.status === 'Closed'" (change)="changeStatus(list.position,$event)"></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteTodo(list.position)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="row justify-content-center">
      <div class="col-auto">
        <button type="button" class="btn btn-danger" (click)="closeDescription()" *ngIf="!hideCloseButton">X</button>
      </div>
      <div class="col-auto">
        <button #AddButton type="button" class="btn btn-primary" (click)="addTodo()">Add Todo</button>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="!hideDescription">
      <app-todo-description [description]="description"></app-todo-description>
    </div>
    <div class="row justify-content-center" *ngIf="!hideAddTodo">
      <app-todo-table (newTodo)="createTodo($event)"></app-todo-table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
